version: "3"

services:
  db:
    image: postgres 
    container_name: db
    expose:
      - 5432
    ports:
      - 5432:5432
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    networks:
      - main 
    environment:
      - POSTGRES_DB=main
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  app:
    build: .
    container_name: app
    expose:
      - 8080
    ports:
      - 8080:8080
    environment:
      - DB_URL=postgres://postgres:postgres@db:5432/main?sslmode=disable
    command: /opt/app/scripts/deploy.sh
    depends_on:
      - db
    networks:
      - main
  test-db:
    image: postgres 
    container_name: test-db
    expose:
      - 5433
    ports:
      - 5433:5432
    networks:
      - main 
    environment:
      - POSTGRES_DB=main_test
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
networks:
  main:
    driver: bridge
